.post-content > div {
    width: 100%;
}
.margin-sides {
    margin: 0 20px;
}
.category {
    font-size: 2rem;
}
.center {
    text-align: center;
}
.tags {
    color: #74D687;
}
.no-padding {
    padding: 0 !important;
}
